* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 86%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Poppins";
  margin-top: 50px;
}

.app {
  background-color: white;
  width: 60%;
  padding: 20px;
  border-radius: 10px;
  border-bottom-right-radius: 60px;
}

.inputs-container {
  display: flex;
  gap: 20px;
}

.inputs-container label {
  font-size: 8px;
  color: hsl(0, 1%, 44%);
  letter-spacing: 1px;
  margin-bottom: 3px;
}

input {
  border: solid 1px hsl(0, 0%, 86%);
  border-radius: 5px;
  padding: 10px;
  width: 100px;
  font-weight: 700;
}

button {
  background-color: hsl(259, 100%, 65%);
  border: none;
  border-radius: 100%;
  width: 50px;
  height: 50px;
}
