* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: hsl(0, 0%, 86%);
  font-family: "Poppins";
  margin-top: 50px;
}

.app {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  border-bottom-right-radius: 100px;
}

.inputs-container {
  display: flex;
  gap: 20px;

  margin-bottom: 20px;
  border-bottom: solid 1px hsl(0, 0%, 86%);
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.inputs-container label {
  font-size: 8px;
  color: hsl(0, 1%, 44%);
  letter-spacing: 1px;
  margin-bottom: 3px;
}

input {
  border: solid 1px hsl(0, 0%, 86%);
  border-radius: 3px;
  padding: 10px;
  width: 100px;
  font-weight: 700;
  font-size: 20px;
}

input:focus-visible {
  outline: none;
  border: solid 1px hsl(259, 100%, 65%);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.error input {
  border-color: hsl(0, 100%, 67%);
}

.error label {
  color: hsl(0, 100%, 67%);
}

.error-message {
  display: none;
  font-size: 8px;
  font-style: italic;
  color: hsl(0, 100%, 67%);
  margin-top: 3px;
}

button {
  background-color: hsl(259, 100%, 65%);
  border: none;
  border-radius: 100%;
  width: 50px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
  align-self: self-end;

  float: right;
  transform: translate(0px, 50%);
}

button:hover {
  cursor: pointer;
}

button:active {
  background-color: black;
}

.age-container {
  font-size: 48px;
  font-weight: 800;
  font-style: italic;
  letter-spacing: 0px;
  color: hsl(0, 0%, 8%);
  line-height: 55px;
}

.age-numbers {
  color: hsl(259, 100%, 65%);
  letter-spacing: 5px;
}

@media only screen and (max-width: 600px) {
  .app {
    width: 80%;
    padding: 50px 20px;
  }

  .inputs-container {
    justify-content: space-between;
    position: relative;
    margin-bottom: 50px;
  }

  .input-container {
    margin-bottom: 50px;
  }
  
  input {
    width: 80px;
  }

  button {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 65px;
    height: 65px;
  }
  button svg {
    width: 36px;
    height: 36px;
  }
}
